<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>list of books</h2>
    <a href="{% url 'createbook'%}"> createbook</a>

    <ul>
    {% for book in books %}

    {{book.title}}-{{book.price}} <a href="{% url 'details' book.pk %}">details</a> <a href="{%url 'update' book.pk %}">update</a>
    <a href="{% url 'delete' book.pk %}"> delete</a><br>

    {% endfor%}
    </ul>
    
</body>
</html>